@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Titan+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Titan+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'android';
    src: url(midias/fonte-droid.otf) format('opentype'); 
}
:root{
    --cor01: #97ED8A;
    --cor02: #45BF55;
    --cor03: #168039;
    --cor04: #044D29;
    --cor05: #00261C;

    --font-header: "BBH Sans Bogle", sans-serif;
    --font-padrao:"Lato", sans-serif;
    --font-destaque: 'android', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor01);
    font-family: var(--font-padrao);
    font-weight: 700;
}
header{
    background-image: linear-gradient(to bottom, var(--cor03),var(--cor04));
    color: white;
    text-align: center;
    font-weight: 500;
    min-height: 120px;
    padding-top: 45px;
}
header > h1{
    font-family: var(--font-header);
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 200;
    text-align: center;  
    margin-bottom: 5px;  
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
header > p{
    font-size: 1.2em;
    max-width: 550px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
nav{
    background-color: var(--cor04);
    padding: 11px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.562);
}
nav > a{
    color: #afeca5;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.5s;
 }  
nav > a:hover{
    background-color: var(--cor02);
    color: var(--cor03);
    border-radius: 5px;
}
main{
    background-color: #ffffff;
    min-height: 180px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-radius: 0px 0px 10px 10px;
}
main  img{
    width: 100%;
    display: block;
    margin: auto;
}
main .pequena{
    max-width: 350px;
}
 h2{
    font-family: var(--font-destaque);
    color: var(--cor04);
    font-weight: normal;
    font-size: 1.7em;
}
 h3{
    background-image: linear-gradient(to right, #a6f09a, transparent);
    color: var(--cor04);
    font-family: var(--font-destaque);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-indent: 15px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1em;
}
main strong{
    color: var(--cor04);
    font-weight: bolder;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}
main a::after{
    content: '\00A0\1F517';
}
div.video{
    background-color: var(--cor03);
    margin: 0px -20px;
    padding: 20px;
    padding-top: 10%;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 90%;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
}
aside ul{
    list-style-type: '\1F5F8\00A0 \00A0'; /*Marcador da lista, 00A0 mesma coisa que &nbsp;*/
    list-style-position: inside; /*Coloca os macadores dentro do aside*/
    columns: 2; /*Divide a lista em duas colunas*/
}
aside h4{
    background-color: var(--cor03);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: var(--cor04);
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}